.todo-item {
  transition: background-color 0.2s;
}

.todo-item:hover {
  background-color: white;
}

.delete-btn {
  opacity: 0;
  transition: opacity 0.3s;
  text-decoration: none;
  font-size: 1.2rem;
}

.todo-item:hover .delete-btn {
  opacity: 1;
}

.delete-btn:hover {
  transform: scale(1.2);
}